html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

.nav-link.disabled {
    pointer-events: none;
    cursor: default;
    color: #6c757d;
    text-decoration: line-through;
}

a {
    text-decoration: none;
}

.nav-width {
    width: 80%;
}

@media (max-width: 768px) {
    .nav-width {
        width: 90%;
    }
}
