/* Make the whole page a column flex container */
html, body {
    height: 100%;          /* full height */
    margin: 0;             /* remove default margin */
    display: flex;
    flex-direction: column;
}

/* Content container grows to fill available space */
.container {
    flex: 1;               /* takes remaining space */
    display: flex;         /* Ensure that content grows as required */
    flex-direction: column; /* Allow content to grow vertically */
}

/* Footer styling */
footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    margin-top: auto;       /* Pushes footer to the bottom */
    width: 100%;            /* Ensures footer width fills the screen */
}


/* Disable links in the nav */
.nav-link.disabled {
    pointer-events: none;
    cursor: default;
    color: #6c757d;  /* Optional: Change the color to make it look inactive */
    text-decoration: line-through;  /* Add strikethrough */
}

/* Adjust navbar width */
.navbar {
    width: 100%; /* Ensures the navbar fills the screen width */
}

.nav-width {
    width: 80%;  /* This limits the navbar width to 80% */
    margin: 0 auto;  /* Center the navbar */
}

@media (max-width: 768px) {
    .nav-width {
        width: 90%;  /* On smaller screens, navbar width will be 90% */
    }
}

a {
    text-decoration: none;
}
