@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  font-family: "Neucha", Arial, Helvetica, sans-serif !important;
  line-height: 1.7;
  color: #222;
  background-color: #fff;
}

p {
  font-family: "Neucha", Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  line-height: 1.8;
  font-weight: 400;
  color: #333;                  
  margin-bottom: 1.2rem;
  text-align: justify;
}

/* Remove number input spinners/arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
