{% extends "admin/base.html" %}
{% load group_filters %}
{% load static %}

{% block title %}Django Admin{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
{% endblock %}

{% block branding %}
<div id="branding">
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Django Admin</a>
    </h1>
</div>
{% endblock %}

{% block usertools %}
    {{ block.super }}

    {% if request.user|in_group:"Users" %}
    <style>
        /* Hide only the Change Password link for Users group */
        #user-tools a[href$="password_change/"] {
            display: none !important;
        }
    </style>
    {% endif %}
{% endblock %}
